<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Warranty</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/warrenty.css">

    <link rel="icon" type="image/png" href="../static/img/tab_logo.png">

</head>

<body>

    <div class="warrenty_card_container">
        <div class="warrenty_header">
            <span class="warrenty_back_arrow">&#8592;</span>
            <span class="warrenty_title">Device's Warranty</span>
            <img src="https://via.placeholder.com/35" class="warrenty_profile_img" alt="User">
        </div>

        <hr class="warrenty_horizontal_line">

        <div class="warrenty_row">
            <span class="warrenty_label">Device Name</span>
            <span class="warrenty_data">Flour Mill</span>
        </div>
        <div class="warrenty_row">
            <span class="warrenty_label">User Name</span>
            <span class="warrenty_data">Johnathan Doe</span>
        </div>
        <div class="warrenty_row">
            <span class="warrenty_label">Sr. Number</span>
            <span class="warrenty_data">5</span>
        </div>
        <div class="warrenty_row">
            <span class="warrenty_label">Mac ID (Wi-Fi)</span>
            <span class="warrenty_data">125.232.422.2</span>
        </div>

        <div class="warrenty_box">
            <span class="warrenty_title_box">Warranty Status</span>
            <div class="warrenty_row">
                <span>Purchased Date</span>
                <span>17-08-2021</span>
            </div>
            <div class="warrenty_row" style="margin-bottom: 0;">
                <span>Warranty Expires</span>
                <span>17-08-2022</span>
            </div>
        </div>

        <textarea class="warrenty_message_area" placeholder="Message"></textarea>

        <button class="warrenty_btn_submit">Submit</button>

          <div class="otp_powered_by" style="font-size:12px; text-align: center;margin-top: 20px; color: #6B7280;">
            Powered by EVOLUZN
        </div>
    </div>

</body>

</html>